
#leftSide {
    background-color: #fff;
    border: 1px;
    overflow-y: scroll; /* Add the ability to scroll */
}

    /* Hide scrollbar for Chrome, Safari and Opera */
    #leftSide::-webkit-scrollbar {
        display: none;
    }

/* Hide scrollbar for IE, Edge and Firefox */
#leftSide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


.navbar {
    position: sticky;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

#leftSide {
    padding-top: 40px;
    height: 600px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: sticky;
    top: 0;
}

    #leftSide a {
        font-size: 15px;
        color: #707070;
    }

    #leftSide p {
        padding-top: 30px;
        color: #1973da;
    }

@media screen and (max-width: 1100px) {
    #leftSide {
        display: none;
    }
}

#rightSide {
    top: 60px;
}

#a {
    background-color: #707070;
    color: white;
}

#button {
    float: right;
}

.main {
    margin-top: 130px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    height: 350px;
}

.section {
    justify-content: space-between;
    display: flex;
    height: 50px;
    width: 90%;
    top: 20px;
    background-color: #707070;
}

table {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    border-radius: 2px;
}

    table th {
        background-color: #707070;
        border-radius: 5px;
    }
/* Media queries for smaller devices */
@media only screen and (max-width: 600px) {
    /* Adjustments for the navbar */
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
    }
    /* Adjustments for the table */
    table {
        height: auto;
    }
}

#ammm {
    margin-top: 10px;
    border-left: 1px solid #eaeaea;
}

#ammmm {
    margin-top: 15px;
}

#fas {
    margin-top: 15px;
    border-left: 1px solid #eaeaea;
}

@media screen and (max-width: 900px) {
    .navbar {
        display: flex;
        flex-direction: row;
    }

    #fas {
        display: none;
    }
}
