nav {
    align-items: center;
    display: flex;
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.login1 {
    padding-left: 450px;
    padding-right: 450px;
    padding-top: 200px;
}

footer {
    height: 80%;
    background-color: #303030;
    margin-top: 100px;
}

.foot {
    display: flex;
}

.foot2 {
    padding: 75px;
    color: aliceblue;
}

    .foot2 a {
        text-decoration: none;
        list-style-type: none;
        color: aliceblue;
        color: #808080;
    }

.foot4 {
    padding: 20px;
    color: #808080;
}

#foot5 {
    display: flex;
    padding-left: 1100px;
    text-indent: 10px;
}

#btn a {
    color: whitesmoke;
}

#btn1 {
    background-color: rgba(24, 70, 152,1);
}

#btn2 {
    color: #fff;
}
